.fondo{
    height: 100vh;
    background-color: rgb(192, 188, 182);
}

.icono {
    display: none;
  }
  
  .contenedor:hover .icono {
    display: inline-block; 
  }
  

  .texto-wrap {
    max-width: 250px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }
  